@font-face {
  font-family: 'CPS Semillas Smooth';
  src: url('./assets/fonts/cpssemillas-smooth.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CPS Semillas Sprinkle';
  src: url('./assets/fonts/cpssemillas-sprinkle.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CPS Semillas Scatter';
  src: url('./assets/fonts/cpssemillas-scatter.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
