@font-face {
  font-family: 'CPS Semillas Smooth';
  src: url('./assets/fonts/cpssemillas-smooth.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CPS Semillas Sprinkle';
  src: url('./assets/fonts/cpssemillas-sprinkle.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CPS Semillas Scatter';
  src: url('./assets/fonts/cpssemillas-scatter.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CPS Momentum Regular';
  src: url('./assets/fonts/momentum-regular-1-20-24.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CPS Momentum Italic';
  src: url('./assets/fonts/momentum-italic-1-20-24.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'CPS Momentum Black';
  src: url('./assets/fonts/momentum-black-1-20-24.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'CPS Mechanick Regular';
  src: url('./assets/fonts/mechanick v.1.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}